.page {
  position: absolute;
  width: calc(100% - (var(--space) * 2));
  transition-duration: 0.5s; 
  transition-timing-function: cubic-bezier(.68,0,.32,1);
  overflow: scroll;
  padding: var(--space);
}

.page h1 {
  padding-bottom: var(--space);
}